.header {
    background-color: #E0F3FA;
    width: 100%;
}

.headerNavigation {
    display: flex;
    justify-content: space-between;
}

.headerLogo {

}

.headerLogo img {
    width: 50px;
    height: 50px;
}

.headerLinks {
    list-style: none;
    display: flex;
    padding: 0;
    border: 1px solid black;
}

.headerLinks li:not(:last-child) {
    margin-right: 20px;
}

.headerLinks li a {
    text-decoration: none;
}

