.header {
    height: 70px;
    background-color: #CFEAFD;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 360px;
}

.navList li a {
    text-decoration: none;
}