.footer {
    background-color: #EAFCE4;
    display: flex;
    justify-content: center;
    height: 300px;
}

.footerBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    text-align: center;
}

.footerBlock p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.footerBlock ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.footerBlock ul li {
    /*background-color: #C4C4C4;*/
    width: 50px;
    height: 50px;
    text-align: center;
}

.footerBlock ul li:not(:last-child) {
    margin-right: 50px;
}

@media screen and (max-width: 350px) {
    .footerBlock ul li:not(:last-child) {
        margin-right: 25px;
    }
}

.footerList {

}

.footerCopy {

}