.worksItem {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.worksHeader {
    background-color: #C4C4C4;
    height: 300px;
}

.worksHeader img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 530px) {
    .worksHeader {
        padding: 50px;
    }
}

@media screen and (max-width: 330px) {
    .worksHeader {
        padding: 40px;
    }
}

.worksBtn {
    width: 150px;
    height: 50px;
    background-color: #929292;
    color: black;
    font-size: 16px;
}

.worksFooter {
    background-color: #252627;
    padding: 0 20px;
    height: 120px;
}

.worksFooter h3 {
    font-weight: normal;
    margin: 5px 0;
    display: inline-block;
    font-size: 16px;
}

.worksFooter p {
    margin-top: 0;
    height: 30px;
    font-size: 14px;
}
