.skills {
    background-color: #252627;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    color: #fff;
}

.skills h2 {
    margin-top: 0;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.skillsBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
}

.skillsBlock article {
    width: 30%;
}

@media screen and (max-width: 768px) {
    .skillsBlock {
        flex-direction: column;
    }

    .skillsBlock article {
        width: 100%;
    }
}