.contacts {
    background-color: #202021;
    padding: 50px 0;
}

.contactsBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.contactsBlock h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    color: #fff;
}

.contactsForm {
    margin: 50px 0;
}

.contactsForm input {
    margin-bottom: 10px;
    height: 20px;
}

.contactsForm textarea {
    height: 60px;
}

.contactsForm input,
.contactsForm textarea {
    width: 500px;
    background-color: #252627;
    border: 1px solid #4a4a4a;
    padding: 5px 15px;
    color: #fff;
}

@media screen and (max-width: 530px) {
    .contactsForm input,
    .contactsForm textarea {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .contactsForm input,
    .contactsForm textarea {
        width: 300px;
    }
}

@media screen and (max-width: 345px) {
    .contactsForm input,
    .contactsForm textarea {
        width: 260px;
    }
}

.contactsBlock button {
    width: 150px;
    height: 50px;
    background-color: #929292;
    color: black;
    font-size: 16px;
}